NEXT_PUBLIC_API_URL=https://byrappa.homeybites.shop/api
NEXT_PUBLIC_HOST_URL=https://byrappa.homeybites.shop/
NEXT_PUBLIC_KEY_ID=rzp_live_h80bsOto0RrvRG
NEXT_PUBLIC_KEY_SECRET=n2Nu0oIdFM9Tc8lJvRaf3PiZ